[user]
	name = Justin Stoecker
	email = justin.w.stoecker@gmail.com
[core]
	editor = code --wait
	autocrlf = true
[alias]
	co = checkout
	ci = commit
	st = status --short --branch
	hist = log --date=format:\"%x %X\" --pretty=format:\"[%C(bold)%C(cyan)%cd%C(reset)]%C(bold) %C(yellow)%h%C(red)%d %C(green)%ce%C(reset): %s\"
	top = log --date=format:\"%x %X\" --pretty=format:\"[%C(bold)%C(cyan)%cd%C(reset)]%C(bold) %C(yellow)%h%C(red)%d %C(green)%ce%C(reset): %s\" -5
	unstage = reset HEAD
	discard = checkout --