[user]
	name = Justin Stoecker
	email = justin.w.stoecker@gmail.com
[core]
	editor = code --wait
	autocrlf = true
[alias]
	co = checkout
	ci = commit
	st = status --short --branch
	hist = log --date=format:\"%x %X\" --pretty=format:\"%C(red)%C(bold)%d%C(reset) [%C(blue)%cd%C(reset)]%C(bold) %C(yellow)%h %C(green)%ce%C(reset): %s\"
	unstage = reset HEAD
	discard = checkout --