[user]
	name = Justin Stoecker
	email = justin.w.stoecker@gmail.com
[core]
	editor = code --wait
	autocrlf = true
[alias]
	co = checkout
	ci = commit
	st = status
	hist = log --date=format:\"%x %X%z\" --pretty=format:\"%C(bold)%C(yellow)[%cd] %H %C(green)%ce\n%s\n\"